html,body {
    padding:0; margin:0;
}

.hide {
    display: none;
}

.sidebar1 {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 140px;
    height: 100%; 
    overflow-x: hidden; 
    z-index: 1;
}

#main, #port, #cont, #linkedin, #github, #email {
background-color: #1f1f1f;
color: #cccccc;
border-radius: 10px;
border: 2px solid #cccccc;
font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: right;
width: 150px;
height: 45px;
margin-left: -45px;
margin-top: 15%;
margin-right: 10%;
cursor:pointer;
}

#main:focus, #port:focus, #cont:focus, #linkedin:focus, #github:focus, #email:focus {
    outline: none;
    border-color: #8a3838;
}

body {
    
    background-image: url(images/black_lozenge.png);
    background-repeat: repeat;
    color: #1f1f1f;
    overflow-x: hidden;
}

.container {
    
    max-width: 70%;
    margin: auto;
    margin-top: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
     
}

section {
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 100px;
    margin-right: 20px;
    color: #1f1f1f;
    background: #fff;
    width: 98%;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
  }

h3 {
    font-size: 24px;
    color: #8a3838;
    padding-bottom: 20px;
    border-bottom: 3px solid #cccccc;
}

#bio-image {
    width: 200px;
    margin-right: 20px;
    border-radius: 2%;
    float: left;
}

/* Portfolio CSS Code Begins */

#port-images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;    
}

.muzipedia, .employeeSearch, .tgimg, .riwimg, .rpsimg {
    position: relative;
}

.over1, .over2 {
    opacity: 0;
    background-color: #1f1f1f;
    text-align: center;
    color: #cccccc;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: 0;
    margin-top: -260px;
    margin-right: 0;
    margin-bottom: 0;
}

.over3, .over4, .over5 {
    opacity: 0;
    background-color: #1f1f1f;
    text-align: center;
    color: #cccccc;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: 0;
    margin-top: -205px;
    margin-right: 0;
    margin-bottom: 0;
}

.over1:hover, .over2:hover, .over3:hover, .over4:hover, .over5:hover {
    opacity: .9;
}

/* Contact CSS Code Begins */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #777777;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100px;
    background-color: #8a3838;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}


.form {
    padding: 20px;
}

/* Contact CSS Code Ends */

p {
    line-height: 2;
}

a {
    text-decoration: none;
    color: #9f9b99
}

footer {
    border-top: 6px solid #8a3838;
    background-color: #666666;
    color: rgb(226, 226, 226);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    text-align: center;
}

#navbut {
    opacity: 0;
    z-index: 9999;
    position:fixed; 
    top:0; 
    left:0; 
    bottom: 0;
}

@media screen and (max-width: 640px) { 
    #image1, #image2 {
        width: 95%;
        height: auto;
    }

    .over1, .over2 {
    position: static;
    margin-top: 0;
    margin-bottom: 10px;
    background-color: transparent;
    color: #1f1f1f;
    opacity: 1;
    }

    .sidebar {
        background-color: #1f1f1f;
        width: 30%;
        padding-top: 40px;
        opacity: .9;
        position: fixed;
        height: 100%;
        text-align: center;
        z-index: 999;
    }

    #main2, #port2, #cont2, #linkedin2, #github2, #email2 {
        background-color: transparent;
        margin-top: 10px;
        border-radius: 10px;
        border: 0px solid transparent;
        color: #cccccc;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        cursor:pointer;
    }

    #main2:focus, #port2:focus, #cont2:focus, #linkedin2:focus, #github2:focus, #email2:focus {
        outline: none;
        color: #8a3838;
    }

    #main2:hover, #port2:hover, #cont2:hover, #linkedin2:hover, #github2:hover, #email2:hover {
        text-decoration: underline;
    }

    #navbut {
        opacity: 1;
        background-color: #1f1f1f;
        color: #cccccc;
        border-radius: 10px;
        border: 2px solid #cccccc;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 40px;
        height: 35px;
        margin-left: 5px;
        margin-top: 5px;
        cursor:pointer;
    }

    #navbut:hover {
        outline: none;
        border-color: #8a3838;
    }
}